/* line 6, /Users/Namikawa/RubymineProjects/cookingApp/app/assets/stylesheets/recipes.scss */
.recipe-box .main-img {
  width: 200px;
}

/* line 12, /Users/Namikawa/RubymineProjects/cookingApp/app/assets/stylesheets/recipes.scss */
.report-box .report-img {
  width: 60px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */



a, p, blockquote, pre, img,
fieldset, form, label, legend,
caption, h1, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li, menu,
abbr, address, small, sub, sup {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
input, textarea, select, option {
    font: inherit;
}
header, footer, aside, nav,
section, article, hgroup,
details, figure, video, audio,
datalist, output {
    display: block;
}
acronym {
    border:0;
}
object, img {
    max-width: 100%;
}
ol {
    margin-left: 15px;
}

header{
    position: fixed;
    display: flex;
    height: 30px;
    top: 0;
    left: 0;
    width: 100vw;
}

header a{
    display: inline-flex;
    margin: auto;
}

#header-box{
    height: 30px;
    width: 100vh;
}
