// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-box{
  width: 70vw;
  margin: auto;
  img{
    width:35vw;
  }
  .report-img{

  }
}

.report-box{
  .report-img{
    width: 60px;
  }
}

